/* Приведение к общему виду элементов страницы */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
        
}

a img,
a:focus img {
	border: none;
}

a:hover {
	text-decoration: none;
	outline: 0;
}

b,
strong {
  	font-weight: bold;
}

a:active {
	outline: 0;
}

:focus {  
	outline: none;
}

ul,
li {
	list-style-type: none;
        display: inline-block;
        float: left; 
}

body,
html {
	/*height: 100%;*/
	line-height: 1;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
	cursor: pointer;
}

input {
  	line-height: normal;
}

textarea {
  	overflow: auto;
  	resize: none;
}

table {
  	border-collapse: collapse;
  	border-spacing: 0;
}

td,
th {
  	padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  	display: block;
}